:root {
  --black-color: #000;
  --white-color: #fff;
  --secondary-black: #484848;
  --grey-color: #8a8a8a;
  --secondary-grey: #767676;
  --third-grey: #fafafa;
  --forth-grey: #e0e0e0;
  --yellow: #ffc107;
  --red: #ff4646;
  --blue: #5b86e5;
  --secondary-blue: #4285f4;
}

@font-face {
  font-family: "Digital Numbers Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Digital Numbers Regular"),
    url("../fonts/DigitalNumbers-Regular.woff") format("woff");
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  line-height: 1.5;
}

section {
  padding: 20px 0;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 30px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  font-size: 16px;
  font-weight: 200;
  background-color: var(--black-color);
  color: var(--white-color);
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 1em;
}

/* Side */
.slide-section {
  background: var(--third-grey);
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide .slide-image {
  flex: 1;
}

.slide .slide-content {
  flex: 1;
  background: #dadada;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  padding: 10px 20px;
}

.slide-content h2 {
  font-family: "Volkhov", sans-serif;
  font-size: 16px;
  color: var(--secondary-black);
}

.slide-content h3 {
  border-bottom: 1px solid #484848;
  font-size: 14px;
  max-width: 90px;
}

.slide-content p {
  font-size: 10px;
  color: var(--secondary-grey);
}

.slide-size span {
  font-size: 12px;
  background: var(--black-color);
  border-radius: 8px;
  color: var(--white-color);
  padding: 0 15px;
  margin-left: 10px;
}

.slide-price p {
  font-size: 12px;
  font-weight: 400;
  color: var(--black-color);
}

.slide-price span {
  font-size: 14px;
}

.slide-content button {
  font-size: 12px;
  max-width: 150px;
}

/* Feature */
.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  padding: 20px 0;
  box-shadow: 0px 20px 52.3px rgba(68, 68, 68, 0.04),
    0px 42.36px 30.62px rgba(68, 68, 68, 0.07),
    0px 25.18px 16.65px rgba(68, 68, 68, 0.06),
    0px 13.07px 8.5px rgba(68, 68, 68, 0.05),
    0px 5.3px 4.26px rgba(68, 68, 68, 0.039),
    0px 1.21px 2.06px rgba(68, 68, 68, 0.024);
}

.feature-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.feature-item img {
  max-width: 30px;
  padding: 5px 0;
}

.feature-item h3 {
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-black);
  max-width: 100px;
}

.feature-item p {
  font-size: 12px;
  color: var(--secondary-black);
  max-width: 100px;
}

/* Follow us */
.follow {
  text-align: center;
  padding: 30px 0;
}

.follow-title h2 {
  font-family: "Volkhov", sans-serif;
  font-size: 20px;
  color: var(--secondary-black);
}

.follow-title p {
  font-size: 14px;
  color: var(--grey-color);
}

.follow-images {
  display: flex;
  align-items: center;
  margin: 12px 0;
}

/* Subscribe */
.subscribe {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  text-align: center;
  margin: 0 auto;
}

.subscribe-image {
  flex: 1;
}

.subscribe-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.subscribe-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 10px;
  /* TODO ?? */
  flex: 1;
}

.subscribe-content h2 {
  font-family: "Volkhov", sans-serif;
  font-size: 3vw;
  color: var(--secondary-black);
}

.subscribe-content p {
  font-size: 2vw;
  color: var(--grey-color);
}

.subscribe-email {
  color: var(--grey-color);
  font-size: 14px;
  padding: 0 20px;
  box-shadow: 0px 163px 80px rgba(0, 0, 0, 0.04),
    0px 105.65px 46.85px rgba(0, 0, 0, 0.03),
    0px 62.79px 25.48px rgba(0, 0, 0, 0.0243),
    0px 32.6px 13px rgba(0, 0, 0, 0.02), 0px 13.28px 6.52px rgba(0, 0, 0, 0.15),
    0px 3.02px 3.15px rgba(0, 0, 0, 0.09);
}

.subscribe-button {
  background-color: var(--black-color);
  border-radius: 10px;
  max-width: 200px;
  align-self: center;
}

.subscribe-button button {
  font-size: 2vw;
}


/* Footer */
footer {
  color: var(--secondary-black);
  padding: 10px;
  border-top: 1px solid var(--forth-grey);
}

.footer-top {
  margin: 10px;
}

.footer-logo img {
  width: 60px;
  height: auto;
}

.footer-links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.footer-links a {
  display: block;
  color: var(--secondary-black);
  text-decoration: none;
  font-size: 16px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
}

.footer-bottom p {
  font-size: 12px;
}

/*
  Tablet: 760 and up
*/
@media screen and (min-width: 760px) {
  .container {
    width: 750px;
    margin: 0 auto;
  }

  /* Slider */
  .slide .slide-content {
    gap: 20px;
    padding: 20px;
  }

  .slide-content h2 {
    font-size: 20px;
  }

  .slide-content h3 {
    font-size: 16px;
    max-width: 100px;
  }

  .slide-content p {
    font-size: 12px;
    line-height: 2;
  }

  .slide-size span {
    font-size: 14px;
  }

  .slide-price p {
    font-size: 12px;
  }

  .slide-price span {
    font-size: 16px;
  }

  .slide-content button {
    font-size: 14px;
    max-width: 180px;
  }

  /* Feature */
  .features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
  }

  .feature-item {
    align-items: center;
  }

  .feature-item img {
    width: 35px;
  }

  .feature-item h3 {
    font-size: 14px;
    max-width: 200px;
  }

  .feature-item p {
    font-size: 12px;
    max-width: 300px;
  }

  /* Subscribe */
  .subscribe-content h2 {
    font-size: 1.6vw;
  }

  .subscribe-content p {
    font-size: 1.2vw;
  }

  .subscribe-button button {
    font-size: 1.2vw;
  }

  .subscribe-image img {
    width: 60%;
  }

  /* Footer */
  .footer-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
  }

  .footer-logo img {
    width: 90px;
    height: auto;
  }

  .footer-links ul {
    gap: 20px;
  }
}

/*
  1200px and up
*/
@media screen and (min-width: 1200px) {
  .container {
    width: 1100px;
    margin: 0 auto;
  }
}

/*
  Desktop: 1600px and up
*/
@media screen and (min-width: 1600px) {
  .container {
    margin: 0 auto;
    padding: 3em 0 0em 0;
    width: 1500px;
  }

  /* Slide */
  .slide .slide-content {
    gap: 20px;
    padding: 60px;
  }

  .slide-content h2 {
    font-size: 46px;
  }

  .slide-content h3 {
    font-size: 16px;
    max-width: 101px;
  }

  .slide-content p {
    font-size: 16px;
    line-height: 2.6;
  }

  .slide-size span {
    font-size: 16px;
    border-radius: 10px;
    padding: 10px 30px;
  }

  .slide-price p {
    font-size: 24px;
  }

  .slide-price span {
    font-size: 28px;
  }

  .slide-content button {
    font-size: 16px;
    padding: 10px 30px;
    max-width: 207px;
  }

  /* Feature */
  .features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
  }

  .feature-item {
    gap: 10px;
    align-items: center;
  }

  .feature-item img {
    width: 35px;
  }

  .feature-item h3 {
    font-size: 18px;
    max-width: 200px;
  }

  .feature-item p {
    font-size: 16px;
    max-width: 300px;
  }

  /* Follow */
  .follow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
  }

  .follow-title h2 {
    font-family: "Volkhov", sans-serif;
    font-size: 46px;
    color: var(--secondary-black);
  }

  .follow-title p {
    font-size: 16px;
    line-height: 2.6;
    color: var(--grey-color);
    max-width: 614px;
  }

  .follow-images {
    display: flex;
    align-items: center;
    margin: 30px 0;
  }

  /* Footer */
  .footer-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer-logo img {
    width: 105px;
    height: auto;
  }

  .footer-links ul {
    gap: 40px;
  }
}