/* Nav */
nav ul li {
  text-align: center;
  list-style-type: none;
}

nav ul li a {
  display: block;
  color: var(--black-color);
  font-size: 16px;
  padding: 4px;
}

/* nav ul li a:hover {
  background-color: var(--black-color);
  color: var(--white-color);
  border-radius: 4px;
} */

nav ul img {
  padding: 0 5px;
}

.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.toolbar img {
  max-width: 50%;
}

/* Title */
.title-section {
  font-family: "Volkhov", sans-serif;
  text-align: center;
}

.title-section h2 {
  font-size: 18px;
}

/* Sidebar Styles */
.sidebar h1 {
  font-family: "Volkhov", sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
}

.filter-section {
  margin-bottom: 10px;
}

.filter-section h2 {
  font-family: "Volkhov", sans-serif;
  font-size: 18px;
  margin: 5px auto;
  display: inline-block;
}

/* Size filter */
.size-buttons button {
  background-color: var(--white-color);
  border: 1px solid var(--grey-color);
  color: var(--grey-color);
  border-radius: 5px;
  padding: 5px 10px;
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.size-buttons button:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}

/* Color filter */
.color-swatches {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  width: 50%;
}

.swatch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

/* Price filter */
label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

/* Brand filter */
.brand-filter ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

/* Tag filter */
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  cursor: pointer;
}

.tag:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}

/* Main Section */
.main-section {
  padding: 20px;
}

.products {
  padding: 0;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.section-header h2 {
  font-family: "Volkhov", sans-serif;
  font-size: 18px;
}

/* Product Grid Styles */
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product-card img {
  object-fit: cover;
}

.product-card h3 {
  font-size: 14px;
  margin: 10px 0;
}

.product-card p {
  font-size: 14px;
  margin: 5px 0;
}
.color-options input {
  padding: 0;
  margin: 0;
}

input[type="radio"]:first-child {
  accent-color: var(--black-color);
}

input[type="radio"]:last-child {
  accent-color: var(--red);
}

.page {
  margin-top: 50px;
}

.page ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.page a {
  color: var(--black-color);
}

.page a.page-number {
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
}

.page a.active {
  background-color: var(--forth-grey);
}

@media screen and (min-width: 760px) {
  /* Nav */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 16px;
  }

  .main-section {
    display: flex;
    gap: 20px;
  }
  .filter-section {
    margin-bottom: 30px;
  }

  .sidebar {
    width: 25%;
  }

  .products {
    width: 75%;
  }

  .title-section h2 {
    font-size: 24px;
  }
}
